@use "sass:map";
@use "sass:color";
@import "settings.scss";

@import "../themes/theme_dark.scss"; // selected theme

$theme-colors: map.merge($theme-colors, $template-vars);
@debug $theme-colors;
// base 0
$ap-base0: map.get($theme-colors, "ap-base0");
@debug $ap-base0;
$ap-base0-h: color.hue($ap-base0);
$ap-base0-s: color.saturation($ap-base0);
$ap-base0-l: color.lightness($ap-base0);
$ap-base0-d: 20%;

// base 1
$ap-base1: map.get($theme-colors, "ap-base1");
$ap-base1-h: color.hue($ap-base1);
$ap-base1-s: color.saturation($ap-base1);
$ap-base1-l: color.lightness($ap-base1);
$ap-base1-d: 20%;

$ap-color-dp0:     hsl($ap-base1-h, $ap-base1-s, $ap-base1-l);
$ap-color-dp1:     hsl($ap-base0-h, $ap-base0-s, $ap-base0-l);
$ap-color-dp2:     hsl($ap-base0-h, $ap-base0-s, calc($ap-base0-l + 10%));
$ap-color-dp3:     hsl($ap-base0-h, $ap-base0-s, calc($ap-base0-l + 20%));
$ap-color-dp4:     hsl($ap-base0-h, $ap-base0-s, calc($ap-base0-l + 30%));
$ap-color-dp5:     hsl($ap-base0-h, $ap-base0-s, calc($ap-base0-l + 40%));
$ap-color-dp6:     hsl($ap-base0-h, $ap-base0-s, calc($ap-base0-l + 50%));
$ap-color-dp7:     hsl($ap-base0-h, $ap-base0-s, calc($ap-base0-l + 60%));
$ap-color-dp8:     hsl($ap-base0-h, $ap-base0-s, calc($ap-base0-l + 70%));
$ap-color-dp9:     hsl($ap-base0-h, $ap-base0-s, calc($ap-base0-l + 80%));
$ap-color-dp10:    hsl($ap-base0-h, $ap-base0-s, calc($ap-base0-l + 95%));
$ap-color-dp11:    hsl($ap-base0-h, $ap-base0-s, calc($ap-base0-l + 100%));
