@use "sass:map";
@use "sass:color";
@import "settings.scss";

@import "../themes/theme_winter.scss"; // selected theme

// helper methods
// useable variables: https://code.visualstudio.com/api/references/theme-color
@function to-hex($inp_color){
	$ie-hex: ie_hex_str($inp_color);    //#33039B15
	$color-hex: unquote('#' + str_slice($ie-hex, 4)); 
	@return $color-hex;
}

@function cut-hash($inp_color){
	$color-str: ie_hex_str($inp_color);    //#33039B15
	$return-color: unquote(str_slice($color-str, 4)); 
	@return $return-color;
}


// colors
$theme-colors: map.merge($theme-colors, $template-vars);

// primary
$ap-primary: map.get($theme-colors, "ap-primary");
$ap-secondary: map.get($theme-colors, "ap-secondary");

// base 0
$ap-base0: map.get($theme-colors, "ap-base0");
$ap-base0-h: color.hue($ap-base0);
$ap-base0-s: color.saturation($ap-base0);
$ap-base0-l: color.lightness($ap-base0);
$ap-base0-d: 10%;

// base 1
$ap-base1: map.get($theme-colors, "ap-base1");
$ap-base1-h: color.hue($ap-base1);
$ap-base1-s: color.saturation($ap-base1);
$ap-base1-l: color.lightness($ap-base1);
$ap-base1-d: 13%;

// base colors (copy from settings.scss, but with scss variables 
$ap-color-dp0:     map.get($theme-colors, "ap-color-dp0");
$ap-color-dp1:     map.get($theme-colors, "ap-color-dp1");
$ap-color-dp2:     hsl($ap-base0-h, $ap-base0-s, calc($ap-base0-l + 5%));
$ap-color-dp3:     hsl($ap-base0-h, $ap-base0-s, calc($ap-base0-l + 10%));
$ap-color-dp4:     hsl($ap-base0-h, $ap-base0-s, calc($ap-base0-l + 15%));
$ap-color-dp5:     hsl($ap-base0-h, $ap-base0-s, calc($ap-base0-l + 40%));
$ap-color-dp6:     hsl($ap-base0-h, $ap-base0-s, calc($ap-base0-l + 50%));
$ap-color-dp7:     hsl($ap-base0-h, $ap-base0-s, calc($ap-base0-l + 60%));
$ap-color-dp8:     hsl($ap-base0-h, $ap-base0-s, calc($ap-base0-l + 70%));
$ap-color-dp9:     hsl($ap-base0-h, $ap-base0-s, calc($ap-base0-l + 80%));
$ap-color-dp10:    hsl($ap-base0-h, $ap-base0-s, calc($ap-base0-l + 85%));
$ap-color-dp11:    hsl($ap-base0-h, $ap-base0-s, calc($ap-base0-l + 90%));

// colorful
$ap-red:      map.get($theme-colors, "ap-red");
$ap-green:    map.get($theme-colors, "ap-green");
$ap-blue:     map.get($theme-colors, "ap-blue");
$ap-purple:   map.get($theme-colors, "ap-purple");
$ap-aqua:     map.get($theme-colors, "ap-aqua");
$ap-yellow:   map.get($theme-colors, "ap-yellow");
$ap-orange:   map.get($theme-colors, "ap-orange");
