
@import "../settings-variables.scss";

/* REMOVE THIS LINE
 * {
    bg0:    #{to-hex($ap-color-dp0)};
    bg1:    #{to-hex($ap-color-dp1)};
    bg2:    #{to-hex($ap-color-dp2)};
    bg3:    #{to-hex($ap-red)};
    fg0:    #{to-hex($ap-color-dp11)};
    fg1:    #{to-hex($ap-color-dp10)};
    fg2:    #{to-hex($ap-color-dp9)};
    fg3:    #{to-hex($ap-color-dp8)};
}

@import "rounded-common.rasi"
//REMOVE THIS LINE*/

/*******************************************************************************
 * ROUNDED THEME FOR ROFI 
 * User                 : LR-Tech               
 * Theme Repo           : https://github.com/lr-tech/rofi-themes-collection
 *******************************************************************************/
