/* Main sass file that contains the theme */
@use "./style-settings" as ss;
@use "sass:string";
@use "sass:map";
@use "sass:list";

// theme config
@import "../root.scss";
/*---------------------------------------
            Style settings
---------------------------------------*/
$settings: (
    ss.CreateVariableNumberSlider("ap-radius-s", "Border radius S", "variable-number-slider", 4, 0, 20, "px"),
    ss.CreateVariableNumberSlider("ap-radius-m", "Border radius M", "variable-number-slider", 8, 0, 20, "px"),
    ss.CreateVariableNumberSlider("ap-radius-l", "Border radius L", "variable-number-slider", 10, 0, 20, "px"),
);

/*---------------------------------------
            Themes            
--------------------------------------*/
$theme-select: (); // list of all themes
$theme-style-settings: (); // list of all theme style settings

@import "./styling/themes/test.scss";

$settings: list.append($settings, ss.CreateHeading("a-theme-settings", "Theme settings", "Change them appearance here"));
$settings: list.append($settings, ss.CreateClassSelect("theme-dark", "Theme variant", "Select theme variant", "apatheia", $theme-select));
// loop over all the theme settings
@each $theme-setting, $theme-setting-settings in $theme-style-settings {
    
    // add header
    $settings: list.append($settings, $theme-setting);
    
    // loop over all the settings from a theme
    @each $setting in $theme-setting-settings {
        // add contents
        $settings: list.append($settings, $setting); 
    }
}
/*---------------------------------------
            Effects            
--------------------------------------*/
$settings: list.append($settings,
    ss.CreateHeading("a-effect-settings", "Effects", "Add effects", 1)
);
@import "./styling/effects/glassmorphism.scss";


// default theme

@import "./styling/apatheia.scss";

@import "./obsidian.scss"; // import obsidian config
.theme-dark {

    @each $style,
    $value in $obsidian-vars {
        #{$style}: #{$value};
    }
}

//TODO: Change light theme colors
.theme-light {

    @each $style,
    $value in $obsidian-vars {
        #{$style}: #{$value};
    }
}


// generate settings
$style-settings: ss.generateSettings($settings);
@debug $style-settings;
/* @settings

name: Apatheia
id: ap-theme
settings:
#{$style-settings}
*/