
// import theming and settings
@import "../main.scss";

// when import ends with ".css" it will be used as a normal css import (source: https://sass-lang.com/documentation/at-rules/import#plain-css-imports)
/* order of these files is important and should not be changed */
@import "icons/extension-icons.css";

// window contols
@if ($wc-with-tabline){
  @import "window-controls/wc-with-tabline.css";
}
@else if($wc-right){
  @import "window-controls/wc-without-tabline-r.css";
}
@else{
  @import "window-controls/wc-without-tabline.css";
}

// misc
@if ($hide-tabline){
  @import "hide-tabline.css";
}

@if ($hover){
  @import "userChrome-hover.css";
}

@if ($wc-windows-patch){
  @import "window-controls/wc-wt-windowspatch.css";
}


:root { 
  --dark-0: var(--ap-color-dp0);
  --dark-base: var(--ap-color-dp0);
  --dark-1: var(--ap-color-dp1);
  --dark-2: var(--ap-color-dp1);
  --dark-3: var(--ap-color-dp2);
  --dark-4: var(--ap-color-dp3);
  --light-0: var(--ap-color-dp11);
  --light-base: var(--ap-color-dp11);
  --light-1: var(--ap-color-dp10);
  --light-2: var(--ap-color-dp9);
  --light-3: var(--ap-color-dp8);
  --light-4: var(--ap-color-dp7);
  --accent: var(--ap-primary);
  --yellow: var(--ap-yellow);
  --green: var(--ap-green);
  --red: var(--ap-red);
  // --extension-icon-mask: grayscale(85%) sepia(8%) saturate(862%) hue-rotate(173deg) brightness(100%);
    
  /* expanded width of the sidebar. 
    used for userChrome-static, and hover */
  --sidebar-width: 250px; 
  /* initial width of the sidebar. 
    advised not to change since tst css relies on this value*/
  --sidebar-collapsed-width: 60px;

  --dividers: 2px;
    
  --tl-animation-duration: 200ms;
  /*--tl-tab-background-gradient: */
  /* uncomment and add gradient value for selected tab gradient*/
  
  /******WINDOW CONTROL PLACEMENT VARS******/
    --wc-vertical-shift: 16px;
  /* larger value moves window controls down,*/
  /* can be negative(moves controls up) */
    /* Experiemntal: 55px if tabline visible, -25px if tabline hidden */
    --wc-left-space: 15px; /* add space to the left of window controls*/
    --wc-right-space: 18px; /* add space to the right of window controls*/
  /* left-space shifts window-controls */
    /* if you want to shift window controls to the left: positive value */
    /* if you want to shift them to the right: smaller or negative value */
  /* right-space shifts rest of the navbar (forward,backward,urlbar,etc.) to the right */
  /* if you want to increase/decrease space between window-controls and navbars: */
    /* set positive/smaller or negative value for right-space*/
}

:root[privatebrowsingmode="temporary"]{ 
  --dark-0: #1C0E34;
  --dark-base: #20103c;
  --dark-1: #2F1D4E;
  --dark-2: #38225D;
  --dark-3: #4A2D7B;
  --dark-4: #53338A;
  --light-0: #CC6B9C;
  --light-base: #B9407C;
  --light-1: #AB3B73;
  --light-2: #9C3569;
  --light-3: #8D305E;
  --light-4: #7D2B54;
  --accent: #e9207e;
  --yellow: #C9B336;
  --green: #36C987;
  --red: #C9365D;
  --extension-icon-mask: grayscale(85%) invert(17%) sepia(42%) saturate(2474%) hue-rotate(241deg) brightness(94%) contrast(92%); 
}
