@import url('https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Anybody:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Archivo+Narrow:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Archivo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Asap:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Assistant:wght@200;300;400;500;600;700;800&family=Azeret+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Baloo+2:wght@400;500;600;700;800&family=Besley:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Bitter:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Bodoni+Moda:ital,opsz,wght@0,6..96,400;0,6..96,500;0,6..96,600;0,6..96,700;0,6..96,800;0,6..96,900;1,6..96,400;1,6..96,500;1,6..96,600;1,6..96,700;1,6..96,800;1,6..96,900&family=Cabin:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Cairo+Play:wght@200;300;400;500;600;700;800;900;1000&family=Cairo:wght@200;300;400;500;600;700;800;900;1000&family=Catamaran:wght@100;200;300;400;500;600;700;800;900&family=Cinzel:wght@400;500;600;700;800;900&family=Comfortaa:wght@300;400;500;600;700&family=Crimson+Pro:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Domine:wght@400;500;600;700&family=Dosis:wght@200;300;400;500;600;700;800&family=EB+Garamond:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&family=Encode+Sans:wght@100;200;300;400;500;600;700;800;900&family=Epilogue:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Exo+2:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Figtree:wght@300;400;500;600;700;800;900&family=Finlandica:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Fira+Code:wght@300;400;500;600;700&family=Heebo:wght@100;200;300;400;500;600;700;800;900&family=Inconsolata:wght@200;300;400;500;600;700;800;900&family=Inter:wght@100;200;300;400;500;600;700;800;900&family=JetBrains+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Jura:wght@300;400;500;600;700&family=Karla:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Lexend+Deca:wght@100;200;300;400;500;600;700;800;900&family=Lexend+Exa:wght@100;200;300;400;500;600;700;800;900&family=Lexend:wght@100;200;300;400;500;600;700;800;900&family=Libre+Franklin:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=M+PLUS+1+Code:wght@100;200;300;400;500;600;700&family=M+PLUS+1:wght@100;200;300;400;500;600;700;800;900&family=Manrope:wght@200;300;400;500;600;700;800&family=Maven+Pro:wght@400;500;600;700;800;900&family=Merriweather+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&family=MuseoModerno:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Nabla&family=Noto+Sans+Display:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Noto+Sans+Mono:wght@100;200;300;400;500;600;700;800;900&family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Oswald:wght@200;300;400;500;600;700&family=Outfit:wght@100;200;300;400;500;600;700;800;900&family=Overpass+Mono:wght@300;400;500;600;700&family=Overpass:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Podkova:wght@400;500;600;700;800&family=Public+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300;400;500;600;700&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Readex+Pro:wght@200;300;400;500;600;700&family=Recursive:wght@300;400;500;600;700;800;900;1000&family=Red+Hat+Display:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Red+Hat+Mono:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Red+Hat+Text:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Red+Rose:wght@300;400;500;600;700&family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&family=Rosario:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=STIX+Two+Text:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Saira:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Signika+Negative:wght@300;400;500;600;700&family=Signika:wght@300;400;500;600;700&family=Source+Code+Pro:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Space+Grotesk:wght@300;400;500;600;700&family=Syne:wght@400;500;600;700;800&family=Vollkorn:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Yanone+Kaffeesatz:wght@200;300;400;500;600;700&display=swap');

$settings: list.append($settings,
    ss.CreateVariableSelect("ap-font-title", "Title font", "Change title font", "Open Sans", (
        ss.CreateOption("Alegreya"),
        ss.CreateOption("Anybody"),
        ss.CreateOption("Archivo"),
        ss.CreateOption("Archivo Narrow"),
        ss.CreateOption("Asap"),
        ss.CreateOption("Assistant"),
        ss.CreateOption("Azeret Mono"),
        ss.CreateOption("Baloo 2"),
        ss.CreateOption("Besley"),
        ss.CreateOption("Bitter"),
        ss.CreateOption("Bodoni Moda"),
        ss.CreateOption("Cabin"),
        ss.CreateOption("Cairo"),
        ss.CreateOption("Cairo Play"),
        ss.CreateOption("Catamaran"),
        ss.CreateOption("Cinzel"),
        ss.CreateOption("Comfortaa"),
        ss.CreateOption("Crimson Pro"),
        ss.CreateOption("Domine"),
        ss.CreateOption("Dosis"),
        ss.CreateOption("EB Garamond"),
        ss.CreateOption("Encode Sans"),
        ss.CreateOption("Epilogue"),
        ss.CreateOption("Exo 2"),
        ss.CreateOption("Figtree"),
        ss.CreateOption("Finlandica"),
        ss.CreateOption("Heebo"),
        ss.CreateOption("Inconsolata"),
        ss.CreateOption("Inter"),
        ss.CreateOption("Josefin Sans"),
        ss.CreateOption("Jost"),
        ss.CreateOption("Jura"),
        ss.CreateOption("Karla"),
        ss.CreateOption("Lexend"),
        ss.CreateOption("Lexend Deca"),
        ss.CreateOption("Lexend Exa"),
        ss.CreateOption("Libre Franklin"),
        ss.CreateOption("Lora"),
        ss.CreateOption("M PLUS 1"),
        ss.CreateOption("Manrope"),
        ss.CreateOption("Maven Pro"),
        ss.CreateOption("Merriweather Sans"),
        ss.CreateOption("Montserrat"),
        ss.CreateOption("Mulish"),
        ss.CreateOption("MuseoModerno"),
        ss.CreateOption("Noto Sans Display"),
        ss.CreateOption("Nunito"),
        ss.CreateOption("Open Sans"),
        ss.CreateOption("Oswald"),
        ss.CreateOption("Outfit"),
        ss.CreateOption("Overpass"),
        ss.CreateOption("Podkova"),
        ss.CreateOption("Public Sans"),
        ss.CreateOption("Quicksand"),
        ss.CreateOption("Raleway"),
        ss.CreateOption("Readex Pro"),
        ss.CreateOption("Recursive"),
        ss.CreateOption("Red Hat Display"),
        ss.CreateOption("Red Hat Text"),
        ss.CreateOption("Red Rose"),
        ss.CreateOption("Rosario"),
        ss.CreateOption("Rubik"),
        ss.CreateOption("STIX Two Text"),
        ss.CreateOption("Saira"),
        ss.CreateOption("Signika"),
        ss.CreateOption("Signika Negative"),
        ss.CreateOption("Space Grotesk"),
        ss.CreateOption("Syne"),
        ss.CreateOption("Vollkorn"),
        ss.CreateOption("Work Sans"),
        ss.CreateOption("Yanone Kaffeesatz"),
    ))
);

$settings: list.append($settings,
    ss.CreateVariableSelect("ap-font-interface", "Interface font", "Change interface font", "Open Sans", (
        ss.CreateOption("Alegreya"),
        ss.CreateOption("Anybody"),
        ss.CreateOption("Archivo"),
        ss.CreateOption("Archivo Narrow"),
        ss.CreateOption("Asap"),
        ss.CreateOption("Assistant"),
        ss.CreateOption("Azeret Mono"),
        ss.CreateOption("Baloo 2"),
        ss.CreateOption("Besley"),
        ss.CreateOption("Bitter"),
        ss.CreateOption("Bodoni Moda"),
        ss.CreateOption("Cabin"),
        ss.CreateOption("Cairo"),
        ss.CreateOption("Cairo Play"),
        ss.CreateOption("Catamaran"),
        ss.CreateOption("Cinzel"),
        ss.CreateOption("Comfortaa"),
        ss.CreateOption("Crimson Pro"),
        ss.CreateOption("Domine"),
        ss.CreateOption("Dosis"),
        ss.CreateOption("EB Garamond"),
        ss.CreateOption("Encode Sans"),
        ss.CreateOption("Epilogue"),
        ss.CreateOption("Exo 2"),
        ss.CreateOption("Figtree"),
        ss.CreateOption("Finlandica"),
        ss.CreateOption("Heebo"),
        ss.CreateOption("Inconsolata"),
        ss.CreateOption("Inter"),
        ss.CreateOption("Josefin Sans"),
        ss.CreateOption("Jost"),
        ss.CreateOption("Jura"),
        ss.CreateOption("Karla"),
        ss.CreateOption("Lexend"),
        ss.CreateOption("Lexend Deca"),
        ss.CreateOption("Lexend Exa"),
        ss.CreateOption("Libre Franklin"),
        ss.CreateOption("Lora"),
        ss.CreateOption("M PLUS 1"),
        ss.CreateOption("Manrope"),
        ss.CreateOption("Maven Pro"),
        ss.CreateOption("Merriweather Sans"),
        ss.CreateOption("Montserrat"),
        ss.CreateOption("Mulish"),
        ss.CreateOption("MuseoModerno"),
        ss.CreateOption("Noto Sans Display"),
        ss.CreateOption("Nunito"),
        ss.CreateOption("Open Sans"),
        ss.CreateOption("Oswald"),
        ss.CreateOption("Outfit"),
        ss.CreateOption("Overpass"),
        ss.CreateOption("Podkova"),
        ss.CreateOption("Public Sans"),
        ss.CreateOption("Quicksand"),
        ss.CreateOption("Raleway"),
        ss.CreateOption("Readex Pro"),
        ss.CreateOption("Recursive"),
        ss.CreateOption("Red Hat Display"),
        ss.CreateOption("Red Hat Text"),
        ss.CreateOption("Red Rose"),
        ss.CreateOption("Rosario"),
        ss.CreateOption("Rubik"),
        ss.CreateOption("STIX Two Text"),
        ss.CreateOption("Saira"),
        ss.CreateOption("Signika"),
        ss.CreateOption("Signika Negative"),
        ss.CreateOption("Space Grotesk"),
        ss.CreateOption("Syne"),
        ss.CreateOption("Vollkorn"),
        ss.CreateOption("Work Sans"),
        ss.CreateOption("Yanone Kaffeesatz"),
    ))
);

$settings: list.append($settings,
    ss.CreateVariableSelect("ap-font-text", "Text font", "Change text font", "Open Sans", (
        ss.CreateOption("Alegreya"),
        ss.CreateOption("Anybody"),
        ss.CreateOption("Archivo"),
        ss.CreateOption("Archivo Narrow"),
        ss.CreateOption("Asap"),
        ss.CreateOption("Assistant"),
        ss.CreateOption("Azeret Mono"),
        ss.CreateOption("Baloo 2"),
        ss.CreateOption("Besley"),
        ss.CreateOption("Bitter"),
        ss.CreateOption("Bodoni Moda"),
        ss.CreateOption("Cabin"),
        ss.CreateOption("Cairo"),
        ss.CreateOption("Cairo Play"),
        ss.CreateOption("Catamaran"),
        ss.CreateOption("Cinzel"),
        ss.CreateOption("Comfortaa"),
        ss.CreateOption("Crimson Pro"),
        ss.CreateOption("Domine"),
        ss.CreateOption("Dosis"),
        ss.CreateOption("EB Garamond"),
        ss.CreateOption("Encode Sans"),
        ss.CreateOption("Epilogue"),
        ss.CreateOption("Exo 2"),
        ss.CreateOption("Figtree"),
        ss.CreateOption("Finlandica"),
        ss.CreateOption("Heebo"),
        ss.CreateOption("Inconsolata"),
        ss.CreateOption("Inter"),
        ss.CreateOption("Josefin Sans"),
        ss.CreateOption("Jost"),
        ss.CreateOption("Jura"),
        ss.CreateOption("Karla"),
        ss.CreateOption("Lexend"),
        ss.CreateOption("Lexend Deca"),
        ss.CreateOption("Lexend Exa"),
        ss.CreateOption("Libre Franklin"),
        ss.CreateOption("Lora"),
        ss.CreateOption("M PLUS 1"),
        ss.CreateOption("Manrope"),
        ss.CreateOption("Maven Pro"),
        ss.CreateOption("Merriweather Sans"),
        ss.CreateOption("Montserrat"),
        ss.CreateOption("Mulish"),
        ss.CreateOption("MuseoModerno"),
        ss.CreateOption("Noto Sans Display"),
        ss.CreateOption("Nunito"),
        ss.CreateOption("Open Sans"),
        ss.CreateOption("Oswald"),
        ss.CreateOption("Outfit"),
        ss.CreateOption("Overpass"),
        ss.CreateOption("Podkova"),
        ss.CreateOption("Public Sans"),
        ss.CreateOption("Quicksand"),
        ss.CreateOption("Raleway"),
        ss.CreateOption("Readex Pro"),
        ss.CreateOption("Recursive"),
        ss.CreateOption("Red Hat Display"),
        ss.CreateOption("Red Hat Text"),
        ss.CreateOption("Red Rose"),
        ss.CreateOption("Rosario"),
        ss.CreateOption("Rubik"),
        ss.CreateOption("STIX Two Text"),
        ss.CreateOption("Saira"),
        ss.CreateOption("Signika"),
        ss.CreateOption("Signika Negative"),
        ss.CreateOption("Space Grotesk"),
        ss.CreateOption("Syne"),
        ss.CreateOption("Vollkorn"),
        ss.CreateOption("Work Sans"),
        ss.CreateOption("Yanone Kaffeesatz"),
    ))
);

$settings: list.append($settings,
    ss.CreateVariableSelect("ap-font-monospace", "Monospace font", "Change the monospace font", "Source code pro", (
        ss.CreateOption("Alegreya"),
        ss.CreateOption("Anybody"),
        ss.CreateOption("Archivo"),
        ss.CreateOption("Archivo Narrow"),
        ss.CreateOption("Asap"),
        ss.CreateOption("Assistant"),
        ss.CreateOption("Azeret Mono"),
        ss.CreateOption("Baloo 2"),
        ss.CreateOption("Besley"),
        ss.CreateOption("Bitter"),
        ss.CreateOption("Bodoni Moda"),
        ss.CreateOption("Cabin"),
        ss.CreateOption("Cairo"),
        ss.CreateOption("Cairo Play"),
        ss.CreateOption("Catamaran"),
        ss.CreateOption("Cinzel"),
        ss.CreateOption("Comfortaa"),
        ss.CreateOption("Crimson Pro"),
        ss.CreateOption("Domine"),
        ss.CreateOption("Dosis"),
        ss.CreateOption("EB Garamond"),
        ss.CreateOption("Encode Sans"),
        ss.CreateOption("Epilogue"),
        ss.CreateOption("Exo 2"),
        ss.CreateOption("Figtree"),
        ss.CreateOption("Finlandica"),
        ss.CreateOption("Heebo"),
        ss.CreateOption("Inconsolata"),
        ss.CreateOption("Inter"),
        ss.CreateOption("Josefin Sans"),
        ss.CreateOption("Jost"),
        ss.CreateOption("Jura"),
        ss.CreateOption("Karla"),
        ss.CreateOption("Lexend"),
        ss.CreateOption("Lexend Deca"),
        ss.CreateOption("Lexend Exa"),
        ss.CreateOption("Libre Franklin"),
        ss.CreateOption("Lora"),
        ss.CreateOption("M PLUS 1"),
        ss.CreateOption("Manrope"),
        ss.CreateOption("Maven Pro"),
        ss.CreateOption("Merriweather Sans"),
        ss.CreateOption("Montserrat"),
        ss.CreateOption("Mulish"),
        ss.CreateOption("MuseoModerno"),
        ss.CreateOption("Noto Sans Display"),
        ss.CreateOption("Nunito"),
        ss.CreateOption("Open Sans"),
        ss.CreateOption("Oswald"),
        ss.CreateOption("Outfit"),
        ss.CreateOption("Overpass"),
        ss.CreateOption("Podkova"),
        ss.CreateOption("Public Sans"),
        ss.CreateOption("Quicksand"),
        ss.CreateOption("Raleway"),
        ss.CreateOption("Readex Pro"),
        ss.CreateOption("Recursive"),
        ss.CreateOption("Red Hat Display"),
        ss.CreateOption("Red Hat Text"),
        ss.CreateOption("Red Rose"),
        ss.CreateOption("Rosario"),
        ss.CreateOption("Rubik"),
        ss.CreateOption("STIX Two Text"),
        ss.CreateOption("Saira"),
        ss.CreateOption("Signika"),
        ss.CreateOption("Signika Negative"),
        ss.CreateOption("Space Grotesk"),
        ss.CreateOption("Syne"),
        ss.CreateOption("Vollkorn"),
        ss.CreateOption("Work Sans"),
        ss.CreateOption("Yanone Kaffeesatz"),
    ))
);