// window controls
$wc-with-tabline: false;
$wc-right: false;
$no-wc: true;
$hide-tabline: true; // line on top of active tab?

/// misc
$wc-windows-patch: false;

// hovering capabilities
$hover: true;