@charset "UTF-8";
/** EWW.SCSS
Created by saimoom **/
/* Main sass file that contains the theme */
:root {
  --ap-radius-s: 4px;
  --ap-radius-m: 8px;
  --ap-radius-l: 10px;
  --ap-radius-xl: 16px;
  --ap-primary-h: 15.3846153846deg;
  --ap-primary-s: 63.9344262295%;
  --ap-primary-l: 88.0392156863%;
  --ap-primary-d: 80%;
  --ap-primary: #F4D7CD;
  --ap-secondary-h: 157.0588235294deg;
  --ap-secondary-s: 31.7757009346%;
  --ap-secondary-l: 58.0392156863%;
  --ap-secondary-d: 70%;
  --ap-secondary: #72b69c;
  --ap-base1-h: 250deg;
  --ap-base1-s: 23.0769230769%;
  --ap-base1-l: 8.0980392157%;
  --ap-base1-d: 20%;
  --ap-base0: #0B0A10;
  --ap-base0-h: 250deg;
  --ap-base0-s: 23.0769230769%;
  --ap-base0-l: 5.0980392157%;
  --ap-base0-d: 20%;
  --ap-base1: #111019;
  --ap-red: #E97193;
  --ap-green: #AAC5A0;
  --ap-blue: #A8C5E6;
  --ap-purple: #DFA7E7;
  --ap-aqua: #a8e5e6;
  --ap-yellow: #ece0a8;
  --ap-orange: #D1A999;
  --ap-color-strong: #E97193;
  --ap-color-quote: #E97193;
  --ap-color-italic: #E97193;
  --ap-color-tag-background: #2c2537;
  --ap-color-tag-text: #EEEEEE;
  --ap-code-gray-1: #5b5c5f;
  --ap-code-gray-2: #45474c;
  --ap-code-red: var(--ap-red);
  --ap-code-green: var(--ap-green);
  --ap-code-blue: var(--ap-blue);
  --ap-code-purple: var(--ap-purple);
  --ap-code-aqua: var(--ap-aqua);
  --ap-code-yellow: var(--ap-yellow);
  --ap-code-orange: var(--ap-orange);
  --ap-color-dp0: #111019;
  --ap-color-dp1: #0B0A10;
  --ap-color-dp2: hsl(var(--ap-base0-h), var(--ap-base0-s), calc(var(--ap-base0-l) + 5%));
  --ap-color-dp3: hsl(var(--ap-base0-h), var(--ap-base0-s), calc(var(--ap-base0-l) + 10%));
  --ap-color-dp4: hsl(var(--ap-base0-h), var(--ap-base0-s), calc(var(--ap-base0-l) + 15%));
  --ap-color-dp5: hsl(var(--ap-base0-h), var(--ap-base0-s), calc(var(--ap-base0-l) + 40%));
  --ap-color-dp6: hsl(var(--ap-base0-h), var(--ap-base0-s), calc(var(--ap-base0-l) + 50%));
  --ap-color-dp7: hsl(var(--ap-base0-h), var(--ap-base0-s), calc(var(--ap-base0-l) + 60%));
  --ap-color-dp8: hsl(var(--ap-base0-h), var(--ap-base0-s), calc(var(--ap-base0-l) + 70%));
  --ap-color-dp9: hsl(var(--ap-base0-h), var(--ap-base0-s), calc(var(--ap-base0-l) + 80%));
  --ap-color-dp10: hsl(var(--ap-base0-h), var(--ap-base0-s), calc(var(--ap-base0-l) + 85%));
  --ap-color-dp11: hsl(var(--ap-base0-h), var(--ap-base0-s), calc(var(--ap-base0-l) + 90%));
  --ap-h1: var(--ap-red);
  --ap-h2: var(--ap-purple);
  --ap-h3: var(--ap-blue);
  --ap-h4: var(--ap-green);
  --ap-h5: var(--ap-orange);
  --ap-h6: var(--ap-yellow);
  --ap-h1-size: 2.5em;
  --ap-h2-size: 1.9882em;
  --ap-h3-size: 1.5811em;
  --ap-h4-size: 1.2574em;
  --ap-h5-size: 1em;
  --ap-h6-size: 0.7953em;
  --ap-size-text: 1em;
  --ap-size-text-header: 1em;
  --ap-size-text-item: 1em;
  --ap-container-padding: 8px;
  --ap-frame-left: 10px;
}

* {
  all: unset;
  font-family: feather;
  font-family: mononoki Nerd Font;
}

/** General **/
.bar_class {
  background-color: rgba(0, 0, 0, 0.7);
}

.module {
  margin: 0px 0px 0px 0px;
  border-radius: 10px 10px 0px 10px;
}

.side {
  background-color: rgba(0, 0, 0, 0.7);
  border-width: 0px;
  padding: 0px 30px 0px 30px;
}

.center_modules {
  margin: 0px 0px 0px 0px;
  border-radius: 0px 0px 0px 0px;
}

/** tooltip!! **/
tooltip.background {
  background-color: rgba(0, 0, 0, 0.7);
  font-size: 18;
  border-radius: 10px;
  color: #eae9f0;
}

tooltip label {
  margin: 6px;
}

/** Widgets **/
.clock_time_class,
.clock_minute_class {
  font-size: 28;
}

.clock_date_class {
  font-size: 24;
  margin: 0px 20px 3px -1px;
  color: #eae9f0;
}

.clock_time_class {
  color: #eae9f0;
  font-weight: bold;
  margin: 0px 10px 0px 5px;
}

.notif_button {
  font-size: 28;
  margin: 0px 20px 0px 0px;
  color: #eae9f0;
}

.membar {
  color: #D1A999;
  background-color: rgba(30, 30, 30, 0.4);
  border-radius: 10px;
}

.batbar {
  color: #E97193;
  background-color: rgba(30, 30, 30, 0.4);
  border-radius: 10px;
}

.brightbar trough highlight {
  background-image: linear-gradient(to right, #D1A999 30%, #f2cdcd 50%, #D1A999 5000%);
  border-radius: 10px;
}

.volbar trough highlight {
  background-image: linear-gradient(to right, #E97193 30%, #DFA7E7 50%, #E97193 5000%);
  border-radius: 10px;
}

.volume_icon {
  font-size: 22;
  color: #E97193;
  margin: 0px 10px 0px 5px;
}

.module_essid {
  font-size: 18;
  color: #AAC5A0;
  margin: 0px 0px 0px 10px;
}

.module-wif {
  font-size: 22;
  color: #AAC5A0;
  margin: 0px 10px 0px 5px;
}

.icon-launcher {
  color: #eae9f0;
  font-size: 36px;
  margin: 0px 10px 0px 15px;
}

.iconsearch {
  color: #eae9f0;
  font-size: 24px;
  margin: 0px 10px 0px 20px;
}

.iconmem {
  color: #D1A999;
}

.iconbat {
  color: #DFA7E7;
}

.iconbat,
.iconmem {
  font-size: 15;
  margin: 15px;
}

.bright_icon {
  font-size: 22;
  color: #D1A999;
  margin: 0px 10px 0px 10px;
}

.separ {
  color: var(--ap-color-base3);
  font-size: 24px;
  margin: 0px 8px 0px 8px;
  padding-bottom: 4px;
}

.launcher_module {
  padding-top: 5px;
  background-color: rgba(0, 0, 0, 0);
}

.mem_module {
  background-color: rgba(0, 0, 0, 0);
  border-radius: 16px;
  margin: 0px 10px 0px 3px;
}

.bat_module {
  background-color: rgba(0, 0, 0, 0);
  border-radius: 16px;
  margin: 0px 10px 0px 10px;
}

.works {
  font-size: 28px;
  font-weight: normal;
  background-color: rgba(0, 0, 0, 0);
}

.\0 ,
.\1 ,
.\2 ,
.\3 ,
.\4 ,
.\5 ,
.\6 ,
.\11 ,
.\",
.\33 ,
.D,
.U,
.f {
  margin: 0px 7px 0px 0px;
}

/* Unoccupied */
.\0  {
  color: var(--ap-color-base3);
}

/* Occupied */
.\1 ,
.\2 ,
.\3 ,
.\4 ,
.\5 ,
.\6 ,
.\7 ,
.\8 ,
.\9  {
  color: #eae9f0;
}

/* Focused */
.\11 ,
.\",
.\33 ,
.D,
.U,
.f,
.w,
.,
. {
  color: #E97193;
}

.cal {
  background-color: rgba(0, 0, 0, 0.7);
  font-family: mononoki Nerd Font;
  font-size: 18px;
  font-weight: normal;
  border-radius: 25px;
}
.cal .cal-in {
  padding: 10px 10px 10px 10px;
  color: #eae9f0;
}
.cal .cal-in .cal {
  padding: 10px 10px 10px 10px;
  margin-left: 10px;
}
.cal .cal-in .cal.highlight {
  padding: 20px;
}

calender {
  color: #A8C5E6;
}

calendar:selected {
  color: #A8C5E6;
}

calendar.header {
  color: #A8C5E6;
  font-weight: bold;
}

calendar.button {
  color: #AAC5A0;
}

calendar.highlight {
  color: #A8C5E6;
  font-weight: bold;
}

calendar:indeterminate {
  color: #282A36;
}

.sys_sep {
  color: rgba(30, 30, 30, 0.4);
  font-size: 18;
  margin: 0px 10px 0px 10px;
}

.sys_text_bat_sub,
.sys_text_mem_sub {
  font-size: 16;
  color: #eae9f0;
  margin: 5px 0px 0px 25px;
}

.sys_text_bat,
.sys_text_mem {
  font-size: 21;
  font-weight: bold;
  margin: 14px 0px 0px 25px;
}

.sys_icon_bat,
.sys_icon_mem {
  font-size: 30;
  margin: 30px;
}

.sys_win {
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 25px;
}

.sys_bat {
  color: #AAC5A0;
  background-color: rgba(30, 30, 30, 0.4);
  border-radius: 10px;
}

.sys_mem {
  color: #D1A999;
  background-color: rgba(30, 30, 30, 0.4);
  border-radius: 10px;
}

.sys_icon_bat,
.sys_text_bat {
  color: #AAC5A0;
}

.sys_icon_mem,
.sys_text_mem {
  color: #D1A999;
}

.sys_bat_box {
  border-radius: 16px;
  margin: 15px 10px 10px 20px;
}

.sys_mem_box {
  border-radius: 16px;
  margin: 10px 10px 15px 20px;
}

.app-name {
  color: #ecdbee;
  font-size: 18px;
  font-weight: bold;
  margin: 10px 0px 0px 0px;
}

.app-icon {
  margin: 8px 10px 0px 0px;
}

.app-button {
  color: #ecdbee;
  font-size: 20px;
  font-weight: bold;
  margin: 0px 12px 0px 12px;
}

.color-var1 {
  color: #AAC5A0;
}

.color-var2 {
  color: #DFA7E7;
}

.color-var3 {
  color: #E97193;
  margin-left: 15px;
}

.launcher-icon {
  padding-bottom: 6px;
}

.audio-box {
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 16px;
}

.speaker_icon {
  background-size: cover;
  background-image: url("images/speaker.png");
  background-position: center;
  min-height: 70px;
  min-width: 75px;
  margin: 10px 20px 5px 20px;
  border-radius: 12px;
}

.speaker_text {
  color: #A8C5E6;
  font-size: 26px;
  font-weight: bold;
  margin: 20px 0px 0px 0px;
}

.speaker_bar scale trough highlight {
  all: unset;
  background-image: linear-gradient(to right, #afcee0 30%, #92B6F4 50%, #77a5bf 5000%);
  border-radius: 24px;
}

.speaker_bar scale trough {
  all: unset;
  background-color: rgba(30, 30, 30, 0.4);
  box-shadow: 0 6px 5px 2px var(--ap-color-base0);
  border-radius: 24px;
  min-height: 13px;
  min-width: 120px;
  margin: 0px 0px 5px 0px;
}

.mic_icon {
  background-size: cover;
  background-image: url("images/mic.png");
  background-position: center;
  min-height: 70px;
  min-width: 75px;
  margin: 5px 20px 20px 20px;
  border-radius: 12px;
}

.mic_text {
  color: #A8C5E6;
  font-size: 26px;
  font-weight: bold;
  margin: 0px 0px 0px 0px;
}

.mic_bar scale trough highlight {
  all: unset;
  background-image: linear-gradient(to right, #afcee0 30%, #92B6F4 50%, #77a5bf 5000%);
  border-radius: 24px;
}

.mic_bar scale trough {
  all: unset;
  box-shadow: 0 6px 5px 2px var(--ap-color-base0);
  background-color: rgba(30, 30, 30, 0.4);
  border-radius: 24px;
  min-height: 13px;
  min-width: 120px;
  margin: 0px 0px 20px 0px;
}

.audio_sep {
  color: #282A36;
  font-size: 18;
  margin: 0px 0px 0px 0px;
}

.music-player {
  all: unset;
  background-color: rgba(30, 30, 30, 0.4);
  padding: 0px 25px 0px 17px;
  border-radius: 12px;
  box-shadow: 0px 0px 6px 6px var(--ap-color-base0);
}

.album_art {
  background-size: cover;
  background-position: center;
  border-radius: 12px;
  margin: 2rem 1rem 1.5rem 1rem;
  padding: 4rem;
}

.song {
  font-family: JetBrainsMono Nerd Font Mono;
  font-weight: bold;
  color: #eae9f0;
  font-size: 1.2em;
}

.artist {
  font-family: JetBrainsMono Nerd Font;
  font-style: italic;
  font-size: 1.1em;
  color: #A8C5E6;
  margin-top: -5px;
}

.btn_prev,
.btn_play,
.btn_next {
  font-family: JetBrainsMono Nerd Font Mono;
  color: #DFA7E7;
  font-size: 25px;
}

.metric-player scale trough highlight {
  all: unset;
  border-radius: 10px;
  background-color: #A8C5E6;
}

.weather {
  all: unset;
  background-color: rgba(30, 30, 30, 0.4);
  border-radius: 12px;
  padding: 23px 37px 20px 37px;
  box-shadow: 0px 0px 6px 6px rgba(0, 0, 0, 0.4);
}

.iconweather {
  font-family: JetBrainsMono Nerd Font;
  font-size: 44px;
  font-weight: normal;
  margin: 0px -5px 0px 20px;
}

.label_temp {
  color: #A8C5E6;
  font-size: 35px;
  font-weight: bold;
  margin: 0px 0px 0px 0px;
  font-family: Furamono Nerd Font;
}

.label_stat {
  color: #A8C5E6;
  font-size: 38px;
  font-weight: bold;
}

.label_quote {
  color: #A8C5E6;
  font-size: 18px;
  padding-bottom: 10px;
  font-weight: normal;
}

.date {
  all: unset;
  background-color: rgba(30, 30, 30, 0.4);
  padding: 33px 27px 27px 27px;
  border-radius: 12px;
  color: #A8C5E6;
  font-size: 18px;
  font-style: italic;
  font-family: Cartograph CF;
  box-shadow: 0px 0px 6px 6px rgba(0, 0, 0, 0.4);
}

.stats-box {
  all: unset;
  background-color: rgba(30, 30, 30, 0.4);
  padding: 20px 25px 20px 25px;
  border-radius: 12px;
  box-shadow: 0px 0px 6px 6px rgba(0, 0, 0, 0.4);
}

.stats-icon {
  font-size: 23px;
  color: #A8C5E6;
  font-family: JetBrainsMono Nerd Font Mono;
}

scale trough {
  all: unset;
  background-color: rgba(30, 30, 30, 0.4);
  box-shadow: 0 2px 3px 2px var(--ap-color-base0);
  border-radius: 16px;
  min-height: 10px;
  min-width: 70px;
  margin: 0px 5px 0px 10px;
}

.scale highlight {
  background-image: linear-gradient(to right, #afcee0 30%, #92B6F4 50%, #77a5bf 5000%);
  border-radius: 15px;
}

.buttons {
  opacity: 1;
  background-color: rgba(30, 30, 30, 0.4);
  border-radius: 12px;
  padding: 15px 0px 15px 0px;
  font-family: JetBrainsMono Nerd Font Mono;
  margin-bottom: 30px;
  box-shadow: 0px 0px 6px 6px rgba(0, 0, 0, 0.4);
}

.poweroff,
.reboot,
.firmware,
.exit,
.restart {
  margin: 0px 16px 0px 16px;
  padding: 2px 15px 2px 9px;
  font-family: mononoki Nerd Font;
  border-radius: 25px;
  font-size: 24px;
  color: #282A36;
}

.poweroff {
  background-color: #E97193;
}

.reboot {
  background-color: #AAC5A0;
}

.firmware {
  background-color: #D1A999;
}

.exit {
  background-color: #DFA7E7;
}

.restart {
  background-color: #A8C5E6;
}

.fetch {
  margin-top: 35px;
  font-size: 15px;
  border-radius: 12px;
  background-color: rgba(30, 30, 30, 0.4);
  padding: 30px 55px 30px 55px;
  box-shadow: 0px 0px 6px 6px rgba(0, 0, 0, 0.4);
}

.wm {
  font-family: "JetBrainsMono Nerd Font";
  font-weight: bold;
  color: #E97193;
}

.host {
  font-family: "JetBrainsMono Nerd Font";
  font-weight: bold;
  color: #DFA7E7;
}

.uptime {
  font-family: "JetBrainsMono Nerd Font";
  font-weight: bold;
  color: #D1A999;
}

.packages {
  font-family: "JetBrainsMono Nerd Font";
  font-weight: bold;
  color: #A8C5E6;
}

.kernal {
  font-family: "JetBrainsMono Nerd Font";
  font-weight: bold;
  color: #AAC5A0;
}

.notification {
  all: unset;
  background-color: rgba(30, 30, 30, 0.4);
  padding: 20px 25px 20px 17px;
  margin: 0px 15px 0px 15px;
  border-radius: 12px;
  border-width: 2px;
  border-style: solid;
  border-color: #E97193;
}

.notification-header {
  all: unset;
  background-color: rgba(30, 30, 30, 0.4);
  padding: 20px 25px 20px 17px;
  margin: 20px 15px 10px 15px;
  border-radius: 12px;
  border-width: 2px;
  border-style: solid;
  border-color: #AAC5A0;
}

.notification-icon {
  color: #eae9f0;
  font-size: 36px;
  margin: 0px 20px 0px 10px;
}

.notification-appname {
  font-family: "Inter Nerd Font";
  font-size: 14px;
  font-weight: bold;
  color: #D1A999;
}

.notification-summary {
  font-family: "Inter Nerd Font";
  font-size: 18px;
  font-weight: bold;
  color: #eae9f0;
}

.notification-body {
  font-family: "Inter Nerd Font";
  font-size: 14px;
  color: #eae9f0;
}

.notification-label {
  font-family: "Mononoki Nerd Font";
  font-size: 30px;
  color: #A8C5E6;
  margin: 0px 50px 0px 0px;
}

.notification-action {
  font-family: "Mononoki Nerd Font";
  font-size: 36px;
  color: #eae9f0;
  margin: 0px 0px 0px 20px;
}
