@import "../settings-variables.scss";

// base
$kit-bg0: to-hex($ap-color-dp0);
$kit-bg1: to-hex($ap-color-dp1);
$kit-bg4: to-hex($ap-color-dp4);
$kit-bg5: to-hex($ap-color-dp5);
$kit-fg0: to-hex($ap-color-dp11);
$kit-fg1: to-hex($ap-color-dp10);
// colorful
$kit-primary:    to-hex($ap-primary);
$kit-red:    to-hex($ap-red);
$kit-green:  to-hex($ap-green);
$kit-blue:   to-hex($ap-blue);
$kit-purple: to-hex($ap-purple);
$kit-aqua:   to-hex($ap-aqua);
$kit-yellow: to-hex($ap-yellow);
$kit-orange: to-hex($ap-orange);
// other
$bg_opacity: 0.8;


/* REMOVE THIS LINE
# vim:ft=kitty

## name: Catppuccin
## author: Pocco81 (https://github.com/Pocco81)
## license: MIT
## upstream: https://raw.githubusercontent.com/catppuccin/kitty/main/catppuccin.conf
## blurb: Soothing pastel theme for the high-spirited!

# The basic colors
foreground              #{$kit-fg1}
background              #{$kit-bg1}
selection_foreground    #D9E0EE
selection_background    #575268

# Transparent Background
background_opacity #{$bg_opacity}

# Cursor colors
cursor                  #F5E0DC
cursor_text_color       #1E1E2E

# URL underline color when hovering with mouse
url_color               #F5E0DC

# kitty window border colors
active_border_color     #C9CBFF
inactive_border_color   #575268
bell_border_color       #FAE3B0

# OS Window titlebar colors
wayland_titlebar_color system
macos_titlebar_color system

#: Tab bar colors
active_tab_foreground   #F5C2E7
active_tab_background   #575268
inactive_tab_foreground #D9E0EE
inactive_tab_background #1E1E2E
tab_bar_background      #161320

# Colors for marks (marked text in the terminal)

mark1_foreground #1E1E2E
mark1_background #96CDFB
mark2_foreground #1E1E2E
mark2_background #F5C2E7
mark3_foreground #1E1E2E
mark3_background #B5E8E0

#: The 16 terminal colors

#: black
color0 #{$kit-bg4}
color8 #{$kit-bg5}

#: red
color1 #{$kit-red}
color9 #{$kit-red}

#: green
color2  #{$kit-green}
color10 #{$kit-green}

#: yellow
color3  #{$kit-yellow}
color11 #{$kit-yellow}

#: blue
color4  #{$kit-blue}
color12 #{$kit-blue}

#: magenta
color5  #{$kit-purple}
color13 #{$kit-purple}

#: cyan
color6  #{$kit-aqua}
color14 #{$kit-aqua}

#: white
color7  #{$kit-fg1}
color15 #{$kit-fg1}

#*/